<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ControllerEQ.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ControllerEQ.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ControllerEQ.Properties.Settings>
            <setting name="connection" serializeAs="String">
                <value>Server=192.168.101.187;User Id=postgres;Password=!ShamiL19;Port=5432;Database=EQ</value>
            </setting>
        </ControllerEQ.Properties.Settings>
        <ControllerEQ.Settings>
            <setting name="c" serializeAs="String">
                <value />
            </setting>
        </ControllerEQ.Settings>
    </userSettings>
</configuration>