<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <QE.Properties.Settings>
            <setting name="connection" serializeAs="String">
                <value>Server=176.113.83.242;User Id=postgres;Password=!ShamiL19;Port=5432;Database=EQ</value>
            </setting>
        </QE.Properties.Settings>
    </userSettings>
</configuration>